flows.json
[
    {
        "id": "9c9bd5b70fc4389f",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e193dcc66badafa7",
        "type": "http in",
        "z": "9c9bd5b70fc4389f",
        "name": "",
        "url": "/api/lote",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bd3f931366a27b58",
        "type": "json",
        "z": "9c9bd5b70fc4389f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b91859a65a1ae01a",
        "type": "function",
        "z": "9c9bd5b70fc4389f",
        "name": "function 1",
        "func": "let lot = msg.payload;\n\n// Verifica rastreio e cria alerta\nif (lot.trace < 90) {\n    msg.payload.alert = true;\n    msg.payload.message = `ALERTA: Lote ${lot.code} com rastreio baixo (${lot.trace}%)`;\n} else {\n    msg.payload.alert = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b8c4201348891e24",
        "type": "debug",
        "z": "9c9bd5b70fc4389f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "fe2a99b82fc0c14e",
        "type": "http response",
        "z": "9c9bd5b70fc4389f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "2bde3810d5590ba5",
        "type": "ui_gauge",
        "z": "9c9bd5b70fc4389f",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b4c184baa76f69a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]